@CHARSET "ISO-8859-1";


/*
 * Usado en login y registrate para poner un fondo azul claro a los inputs
 * al pulsar sobre ellos.
 */
.azul:focus {
	background-color: #E5F5FF;
	color: #000000;
}


/*
 * Usado en list para mostrar los avatares de un tamaño determinado,
 * en lugar de que se vea la imagen con su tamaño completo.
 */
.avatar-list {
	height: 45px;
	width: auto;
}


/*
 * Clase para usar en los mensajes de error.
 * Muestra un fondo rojo claro y una letra rojo oscuro.
 */
.error {
	color: #D8000C;
	background-color: #FFBABA;
}


/*
 * Usada en la barra para indicar el alto de los iconos.
 */
.barra-icon {
	height: 15px;
	width: auto;
}

/*
 * Estilo para el encabezado de las tablas.
 */

.even {
	background-color: silver;
}
	
/*
 * Estilo para todas las letras.
 */

.letra {
	background-image: url(../img/letras.jpg);
}

/*
 * Estilo de cada letra.
 */

.letra-A{
	background-position-x: 265;
	background-position-y: -15;
}

.letra-B{
	background-position-x: 213;
	background-position-y: -15;
}

.letra-C{
	background-position-x: 162;
	background-position-y: -15;
}

.letra-D{
	background-position-x: 109;
	background-position-y: -15;
}

.letra-E{
	background-position-x: 57;
	background-position-y: -15;
}

.letra-F{
	background-position-x: 265;
	background-position-y: -57;
}

.letra-G{
	background-position-x: 213;
	background-position-y: -57;
}

.letra-H{
	background-position-x: 162;
	background-position-y: -57;
}

.letra-I{
	background-position-x: 109;
	background-position-y: -57;
}

.letra-J{
	background-position-x: 57;
	background-position-y: -57;
}

.letra-L{
	background-position-x: 265;
	background-position-y: -109;
}

.letra-M{
	background-position-x: 213;
	background-position-y: -109;
}

.letra-N{
	background-position-x: 162;
	background-position-y: -109;
}

.letra-Ñ{
	background-position-x: 109;
	background-position-y: -109;
}

.letra-O{
	background-position-x: 57;
	background-position-y: -109;
}

.letra-P{
	background-position-x: 265;
	background-position-y: -161;
}

.letra-Q{
	background-position-x: 213;
	background-position-y: -161;
}

.letra-R{
	background-position-x: 162;
	background-position-y: -161;
}

.letra-S{
	background-position-x: 109;
	background-position-y: -161;
}

.letra-T{
	background-position-x: 57;
	background-position-y: -161;
}

.letra-U{
	background-position-x: 265;
	background-position-y: -213;
}

.letra-V{
	background-position-x: 213;
	background-position-y: -213;
}

.letra-X{
	background-position-x: 162;
	background-position-y: -213;
}

.letra-Y{
	background-position-x: 109;
	background-position-y: -213;
}

.letra-Z{
	background-position-x: 57;
	background-position-y: -213;
}