textarea {
	display: none;
}

td {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-align: center;
	border: 1px solid gray;
}

#juego {
	text-align: center;
}

.mover {
	position: absolute;
	cursor: move;
	width: 27;
	height: 10;
}

.tabla{
	border: 1;
/* 	height: 450; */
/* 	width: 450; */
}

.tabla-td{
	height: 25;
	width: 25;
}

/*
 * Estilo para todas el comodin.
 */

.comodin {
	background-image: url(../img/tablero/comodin.png);
	background-size:26px 26px;
	background-position: 286px -1px;
}

/*
 * Estilo para la casilla inicial.
 */
.inicial {
	background-image: url(../img/tablero/casillaInicial.png);
	background-size:26px 26px;
	background-position: 286px -2px;
}

/*
 * Estilo para todas las letras.
 */

.letra {
	background-image: url(../img/tablero/letras.jpg);
	background-size:140px 140px
}


/*
 * Estilo de cada letra.
 */

.letra-A{
	background-position: 276px -4px;
}

.letra-B{
	background-position: 249px -4px;
}

.letra-C{
	background-position: 222px -4px;
}

.letra-D{
	background-position: 195px -4px;
}

.letra-E{
	background-position: 169px -4px;
}

.letra-F{
	background-position: 276px -31px;
}

.letra-G{
	background-position: 249px -31px;
}

.letra-H{
	background-position: 222px -31px;
}

.letra-I{
	background-position: 195px -31px;
}

.letra-J{
	background-position: 169px -31px;
}

.letra-L{
	background-position: 276px -58px;
}

.letra-M{
	background-position: 249px -58px;
}

.letra-N{
	background-position: 222px -58px;
}

.letra-Ñ{
	background-position: 195px -58px;
}

.letra-O{
	background-position: 169px -58px;
}

.letra-P{
	background-position: 276px -85px;
}

.letra-Q{
	background-position: 249px -85px;
}

.letra-R{
	background-position: 222px -85px;
}

.letra-S{
	background-position: 195px -85px;
}

.letra-T{
	background-position: 169px -85px;
}

.letra-U{
	background-position: 276px -111px;
}

.letra-V{
	background-position: 249px -111px;
}

.letra-X{
	background-position: 222px -111px;
}

.letra-Y{
	background-position: 195px -111px;
}

.letra-Z{
	background-position: 169px -111px;
}

/*
 * Estilo para todas las casillas.
 */

.casilla {
	background-image: url(../img/tablero/casillas.png);
	background-size: 50px 50px
}

.casilla-0{
	background-position: 150px -100px;
}

.casilla-1{
	background-position: 125px -100px;
}

.casilla-2{
	background-position: 150px -125px;
}

.casilla-3{
	background-position: 125px -125px;
}