textarea {
	display: none;
}

td {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-align: center;
	border: 1px solid gray;
}

#juego {
	text-align: center;
}

.mover {
	position: absolute;
	cursor: move;
}

.tabla{
	border: 1;
	height: 450;
	width: 450;
}

.tabla-td{
	height: 27;
	width: 27;
}

/*
 * Estilo para todas las letras.
 */

.letra {
	background-image: url(../../img/letras.jpg);
	background-size:140px 140px
}

/*
 * Estilo de cada letra.
 */

.letra-A{
	background-position-x: 276;
	background-position-y: -4;
}

.letra-B{
	background-position-x: 249;
	background-position-y: -4;
}

.letra-C{
	background-position-x: 222;
	background-position-y: -4;
}

.letra-D{
	background-position-x: 195;
	background-position-y: -4;
}

.letra-E{
	background-position-x: 169;
	background-position-y: -4;
}

.letra-F{
	background-position-x: 276;
	background-position-y: -31;
}

.letra-G{
	background-position-x: 249;
	background-position-y: -31;
}

.letra-H{
	background-position-x: 222;
	background-position-y: -31;
}

.letra-I{
	background-position-x: 195;
	background-position-y: -31;
}

.letra-J{
	background-position-x: 169;
	background-position-y: -31;
}

.letra-L{
	background-position-x: 276;
	background-position-y: -58;
}

.letra-M{
	background-position-x: 249;
	background-position-y: -58;
}

.letra-N{
	background-position-x: 222;
	background-position-y: -58;
}

.letra-Ñ{
	background-position-x: 195;
	background-position-y: -58;
}

.letra-O{
	background-position-x: 169;
	background-position-y: -58;
}

.letra-P{
	background-position-x: 276;
	background-position-y: -85;
}

.letra-Q{
	background-position-x: 249;
	background-position-y: -85;
}

.letra-R{
	background-position-x: 222;
	background-position-y: -85;
}

.letra-S{
	background-position-x: 195;
	background-position-y: -85;
}

.letra-T{
	background-position-x: 169;
	background-position-y: -85;
}

.letra-U{
	background-position-x: 276;
	background-position-y: -111;
}

.letra-V{
	background-position-x: 249;
	background-position-y: -111;
}

.letra-X{
	background-position-x: 222;
	background-position-y: -111;
}

.letra-Y{
	background-position-x: 195;
	background-position-y: -111;
}

.letra-Z{
	background-position-x: 169;
	background-position-y: -111;
}

/*
 * Estilo para todas las casillas.
 */

.casilla {
	background-image: url(../../img/casillas.png);
	background-size: 50px 50px
}

.casilla-0{
	background-position-x: 150;
	background-position-y: -100;
}

.casilla-1{
	background-position-x: 125;
	background-position-y: -100;
}

.casilla-2{
	background-position-x: 150;
	background-position-y: -125;
}

.casilla-3{
	background-position-x: 125;
	background-position-y: -125;
}