textarea {
	display: none;
}

td {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-align: center;
	border: 1px solid gray;
}

#juego {
	text-align: center;
}

.mover {
	position: absolute;
	cursor: move;
}

.tabla{
	border: 1;
	height: 550;
	width: 550;
}

.tabla-td{
	height: 34;
	width: 34;
}

/*
 * Estilo para todas las letras.
 */

.letra {
	background-image: url(../../img/letras.jpg);
	background-size:300px 300px
}

/*
 * Estilo de cada letra.
 */

.letra-A{
	background-position-x: 265;
	background-position-y: -15;
}

.letra-B{
	background-position-x: 213;
	background-position-y: -15;
}

.letra-C{
	background-position-x: 162;
	background-position-y: -15;
}

.letra-D{
	background-position-x: 109;
	background-position-y: -15;
}

.letra-E{
	background-position-x: 57;
	background-position-y: -15;
}

.letra-F{
	background-position-x: 265;
	background-position-y: -57;
}

.letra-G{
	background-position-x: 213;
	background-position-y: -57;
}

.letra-H{
	background-position-x: 162;
	background-position-y: -57;
}

.letra-I{
	background-position-x: 109;
	background-position-y: -57;
}

.letra-J{
	background-position-x: 57;
	background-position-y: -57;
}

.letra-L{
	background-position-x: 265;
	background-position-y: -109;
}

.letra-M{
	background-position-x: 213;
	background-position-y: -109;
}

.letra-N{
	background-position-x: 162;
	background-position-y: -109;
}

.letra-Ñ{
	background-position-x: 109;
	background-position-y: -109;
}

.letra-O{
	background-position-x: 57;
	background-position-y: -109;
}

.letra-P{
	background-position-x: 265;
	background-position-y: -161;
}

.letra-Q{
	background-position-x: 213;
	background-position-y: -161;
}

.letra-R{
	background-position-x: 162;
	background-position-y: -161;
}

.letra-S{
	background-position-x: 109;
	background-position-y: -161;
}

.letra-T{
	background-position-x: 57;
	background-position-y: -161;
}

.letra-U{
	background-position-x: 265;
	background-position-y: -213;
}

.letra-V{
	background-position-x: 213;
	background-position-y: -213;
}

.letra-X{
	background-position-x: 162;
	background-position-y: -213;
}

.letra-Y{
	background-position-x: 109;
	background-position-y: -213;
}

.letra-Z{
	background-position-x: 57;
	background-position-y: -213;
}

/*
 * Estilo para todas las casillas.
 */

.casilla {
	background-image: url(../../img/casillas.png);
	background-size:300px 300px
}

.casilla-0{
	background-position-x: 65;
	background-position-y: -162;
}

.casilla-1{
	background-position-x: 32;
	background-position-y: -162;
}

.casilla-2{
	background-position-x: 65;
	background-position-y: -195;
}

.casilla-3{
	background-position-x: 35;
	background-position-y: -195;
}